@media screen and (max-width:992px) {
    .slider {
        background: rgba(79, 86, 97, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        border: 1px solid rgba(79, 86, 97, 0.68);
    }
}

@media screen and (max-width:768px) {
    .newsletter-input{
        width: 80% !important;
    }
}

@media screen and (max-width:576px) {
    .input-top-search {
        display: none;
    }

    .input-top-btn svg {
        background-color: transparent;
        color: aliceblue;
        display: block;
        width: 22px;
        height: 22px;
    }

    .logo {
        margin-right: 5px;
    }
    .offer{
        font-size: 1rem;
    }
    .offer-eng{
        font-size: 1rem;
    }
    .see-all{
        font-size: .8rem;
    }
    .price-part{
        font-size: .8rem
    }
    .creators-after::after{
        display: none;
    }
    .newsletter-wrapper::before{
        display: none;
    }
}

@media screen and (max-width:476px) {
    .under-main-img {
        width: 9rem;
    }

    .btns-wrapper button {
        width: 75% !important;
    }
    .hotbid-after{
        display: none;
    }
}