@import url("roots.css");
@import url("fonts.css");


*a,
*p,
*h1,
*h2,
*h3,
*h4,
*h5,
*h6 {
    color: white !important;
}

body {
    background-color: var(--bgc-color);
    font-family: vazirNorm;
}

/* stat header */
.navbar {
    background-color: var(--bgc-color) !important;
    z-index: 9999;
}

.logo {
    color: var(--main-gold-color);
}

.logo:hover {
    color: var(--main-gold-color);
}

.collapse ul a {
    color: rgb(169, 169, 169) !important;
    font-family: vazirBold;
}

.search-icon {
    background-color: transparent;
}

.login-link {
    background-color: var(--main-gold-color);
    color: white !important;
}

.mini-slider {
    font-family: vazirThin;
    background: rgba(79, 86, 97, 0.38);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(79, 86, 97, 0.68);
}

.mini-slider a {
    font-family: vazirThin;
}

.mini-slider a:hover {
    background: rgba(79, 86, 97, 0.38);
}

.input-top-search {
    width: 10rem;
    border: 4px solid var(--main-gold-color);
    outline: none;
}

.input-top-btn {
    background-color: transparent;
    border: none;
}

.navbar::before {
    content: '';
    position: absolute;
    width: 28rem;
    height: 28rem;
    border-radius: 100%;
    background-color: rgba(238, 195, 14, .2);
    opacity: .8;
    z-index: 0;
    filter: blur(110px);
    right: -210px;
}


.vazir-thin {
    font-family: vazirThin;
}

.main-color {
    color: var(--main-gold-color);
}

.title {
    font-size: 3.5rem !important;
}

.second-color {
    color: rgb(169, 169, 169) !important;
}

.border-main-color {
    border: 4px solid var(--main-gold-color);
}

.btns-wrapper {
    height: 4rem;
}

.input-dsc-btn {
    background-color: transparent;
    border: none;
    top: 19px;
    left: 11px !important;
}

.bg-gradiant {
    background-image: linear-gradient(to left, var(--main-gold-color), #450a91);
}

.main-img-container::before {
    content: "";
    background-image: url("../image/M.png");
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    top: 25px;
    right: 0;
}

.main-img-container::after {
    content: "";
    background-image: url("../image/o.png");
    position: absolute;
    width: 4rem;
    height: 4rem;
    background-repeat: no-repeat;
    bottom: 35px;
    left: 40px;
}

.under-main-img {
    position: absolute;
    background-color: rgba(255, 255, 255, .08);
    right: 74px;
    bottom: 99px;
    backdrop-filter: blur(4px);
}

.under-main-img img {
    width: 6rem;
}


/* finish header */

/* start main */

/* strat wallet */
.wallet-title {
    width: 14.5rem;
    height: 6rem;
}

.wallet-title__icon {
    width: 5rem;
    height: 5rem;
    background-image: linear-gradient(to left, var(--main-gold-color), #450a91) !important;
}

.grey-color {
    color: rgb(169, 169, 169) !important;
}

.wallet-box {
    background-color: #161E2A;

}

.wallet-box-gold {
    background-image: linear-gradient(to top left, var(--main-gold-color), #07101D) !important;
    height: 10rem !important;
    padding: 1px !important;
}

.wallet-box-purple {
    background-image: linear-gradient(to top left, #760AFF, #07101D) !important;
    height: 10rem !important;
    padding: 1px !important;
}

.wallet-box-gold::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 10px;
    background-color: #07101D;
    border-top: 1px solid #EEC30E;
    bottom: 0;
    right: -7px;
    transform: rotate(-48deg);
}

.wallet-box-purple::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 10px;
    background-color: #07101D;
    border-top: 1px solid #760AFF;
    bottom: 0;
    right: -7px;
    transform: rotate(-48deg);
}

/* finish wallet */

/* strat hotbid */

.hotbid-wrapper {
    background-color: rgba(255, 255, 255, 0.1);
}
.timer{
    top: 2.5rem;
    left: 10%;
    height: 2.8rem;
}

.timer-right, .timer-left {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(8.7px);
}
.hotbid-after{
    content: "";
    position: absolute;
    width: 17rem;
    height: 17rem;
    background: var(--main-gold-color);
    z-index: -1;
    filter: blur(150px);
    opacity: .4;
    top: 32%;
    right: 33%;
}
/* finish hotbid */

/* finish main */




@media screen and (max-width:1400px) {}

@media screen and (max-width:1200px) {}

@media screen and (max-width:992px) {
    .slider {
        background: rgba(79, 86, 97, 0.38);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5.3px);
        -webkit-backdrop-filter: blur(5.3px);
        border: 1px solid rgba(79, 86, 97, 0.68);

    }

}

@media screen and (max-width:768px) {}

@media screen and (max-width:576px) {
    .input-top-search {
        display: none;
    }

    .input-top-btn svg {
        background-color: transparent;
        color: aliceblue;
        display: block;
        width: 22px;
        height: 22px;
    }

    .logo {
        margin-right: 5px;
    }

}

@media screen and (max-width:476px) {
    .under-main-img {
        width: 9rem;
    }

    .btns-wrapper button {
        width: 75% !important;
    }
    .hotbid-after{
        display: none;
    }
}

@media screen and (max-width:400px) {}